@import "tailwindcss";

html,
body,
:root{
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

@layer components {
  .btn-secondary {
    @apply inline-flex items-center gap-x-2 rounded-full border border-neutral-500 px-4 py-2 text-sm font-medium text-white transition hover:border-white disabled:opacity-50 disabled:hover:border-neutral-500;
  }
}
